# artefatos
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*


# diversos
.coverage
.DS_Store
.vscode
coverage.xml
.ruff_cache
.mypy_cache


# venv / env
.venv
.env


# configuração do Home Assistant
config/*
!config/configuration.yaml
